.header {
    display:flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    font-size: 20px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 0px;
}

.search {
    padding: 10px;
}
/* --- Card ---- */

.res-container {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    background-color: #f0f0f0;
    width: 15%;
    height: auto;
    padding: 5px;
}

.res-card:hover {
    cursor: pointer;
    border: 2px solid black;
}

.res-logo {
    width: 100%;
}
  
  /* --- Card End ---- */

  .footer {
    text-align: center;
    /* border: 1px solid black; */
  }